<div class="container">
    <div class="card border-warning entrada">
        <div class="card-header font-header bg-warning">Direcciones</div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <h5 class="card-title">Mis direcciones</h5>
                    <div class="row">
                        <ng-container *ngFor="let dir of direcciones">
                            <div class="col">
                                <div class="card border-warning mb-3" [attr.id]="dir.id">
                                    <div class="card-body">
                                        <P class="mb-0">{{ dir.nombre }}</P>
                                        <p class="mb-0 mt-0">{{ dir.calle }}</p>
                                        <p class="mb-0 mt-0">{{ dir.colonia }}</p>
                                        <p class="mb-0 mt-0">{{ dir.ciudad }}, {{ dir.estado }}, {{ dir.cp }}</p>
                                        <p class="mt-0">TELEFONO: {{ dir.tel }}</p>
                                        <div class="d-flex justify-content-center">
                                            <button type="button" class="btn btn-secondary btn-sm">&nbsp;&nbsp;Editar&nbsp;&nbsp;</button> &nbsp;&nbsp;&nbsp;
                                            <button type="button" class="btn btn-secondary btn-sm">Eliminar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
                <div class="col-md-12">
                    <h5 class="card-title">Agrega una dirección de envío</h5>
                    <div class="form-group">
                        <label for="nombreDireccion">Nombre de quien recibe el paquete</label>
                        <input type="text" class="form-control" id="nombreDireccion">
                    </div>
                    <label for="nombreDireccion">Dirección</label>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="cp">Código Postal</label>
                                <input #input (keyup)="findCP( input.value )" maxlength="5" type="text" class="form-control" id="cp">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="estado">Estado</label>
                                <input type="text" class="form-control" id="estado" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="municipio">Municipio</label>
                                <input type="text" class="form-control" id="municipio" disabled>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="ciudad">Ciudad</label>
                                <input type="text" class="form-control" id="ciudad" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="telefono">Teléfono</label>
                                <input type="text" class="form-control" id="telefono">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="colonia">Colonia</label>
                                <select class="form-control" id="colonia">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="referencia">Referencia</label>
                            <textarea class="form-control" id="referencia" rows="3"></textarea>
                        </div>
                    </div>
                    <br>
                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn btn-outline-info btn-sm">Guardar dirección</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>