<div class="container">
    <div class="row entrada">
        <div class="col-md-6 mb-3 pointer" [routerLink]="['/profile']">
            <div class="card border-dark borde">
                <div class="card-body text-dark">
                    <div class="row">
                        <div class="col-4">
                            <div class="d-flex justify-content-center">

                                <img src="http://localhost:4200/assets/img/sesion.png" class="img-fluid" alt="">
                            </div>
                        </div>
                        <div class="col-8">
                            <h5 class="card-title">Sesión</h5>
                            <p class="card-text">
                                Aquí puedes iniciar sesión, cambiar contraseña o crear una cuenta si aun no eres parte de Rokstar.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-3 pointer">
            <div class="card border-dark borde">
                <div class="card-body text-dark">
                    <div class="row">
                        <div class="col-4">
                            <div class="d-flex justify-content-center">

                                <img src="http://localhost:4200/assets/img/paquete.png" class="img-fluid" alt="">
                            </div>
                        </div>
                        <div class="col-8">
                            <h5 class="card-title">Pedidos</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-3 pointer">
            <div class="card border-dark borde">
                <div class="card-body text-dark">
                    <div class="row">
                        <div class="col-4">
                            <div class="d-flex justify-content-center">

                                <img src="http://localhost:4200/assets/img/direccion.png" class="img-fluid" alt="">
                            </div>
                        </div>
                        <div class="col-8">
                            <h5 class="card-title">Direcciones</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-3 pointer">
            <div class="card border-dark borde">
                <div class="card-body text-dark">
                    <div class="row">
                        <div class="col-4">
                            <div class="d-flex justify-content-center">

                                <img src="http://localhost:4200/assets/img/pagos.png" class="img-fluid" alt="">
                            </div>
                        </div>
                        <div class="col-8">
                            <h5 class="card-title">Métodos de pago</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>