.borde {
    border-radius: 37px 37px 37px 37px;
    -moz-border-radius: 37px 37px 37px 37px;
    -webkit-border-radius: 37px 37px 37px 37px;
    border: 1px outset #000000;
}

.card:hover {
    /* -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(92, 60, 60, 0.75); */
    /* -webkit-animation: zoomIn; */
    background-color: rgba(255, 252, 87, 0.938);
    transform: scale(1.1);
    /* animation: zoomIn; */
}