<div class="card border-warning width-100 entrada">
    <div class="card-header font-header bg-warning">
        Recuperar contraseña
    </div>
    <div class="card-body">
        <div class="d-flex justify-content-center mb-2">
            <img src="http://localhost:4200/assets/img/logo3.png" class="img-fluid" alt="">
        </div>
        <h3>¿Olvidaste tu contraseña?</h3>
        <p>Escribe la dirección de correo electrónico asociado a tu cuenta Rokstar, para mandarte un correo con la información para que recuperes tu contraseña</p>
        <label>Dirección de correo electróncio</label>
        <div class="input-group mb-2 mr-sm-5">
            <div class="input-group-prepend">
                <div class="input-group-text"><span class="fa fa-at"></span></div>
            </div>
            <input type="text" class="form-control" placeholder="Cosme Fulanito">
        </div>
        <button type="button" class="btn btn-warning btn-lg btn-block">Recuperar contraseña</button>
        <!-- <div class="d-flex justify-content-center">
      <div class="mr-auto p-1">
        <p>
          Al crear una cuenta, estas aceptando nuestras <a class="text-primary pointer">Condiciones uso</a>
        </p>
      </div>
    </div> -->
        <hr>
        <div class="d-flex align-items-center flex-column">
            <div class="p-1">¿ya tienes una cuenta? <a (click)="showLogin()" class="text-primary pointer">Inicia sesión</a>
            </div>
        </div>
    </div>
</div>