<div class="card border-warning width-100 entrada">
    <div class="card-header font-header bg-warning">
        Iniciar sesión
    </div>
    <div class="card-body">
        <div class="d-flex justify-content-center mb-2">
            <img src="http://localhost:4200/assets/img/logo3.png" class="img-fluid" alt="">
        </div>
        <label class="sr-only">Correo electrónico</label>
        <div class="input-group mb-2 mr-sm-5">
            <div class="input-group-prepend">
                <div class="input-group-text"><span class="fa fa-at"></span></div>
            </div>
            <input type="email" class="form-control" placeholder="Correo electrónico">
        </div>
        <label class="sr-only">Contraseña</label>
        <div class="input-group mb-4 mr-sm-5">
            <div class="input-group-prepend">
                <div class="input-group-text"><span class="fa fa-lock"></span></div>
            </div>
            <input type="password" class="form-control" placeholder="Contraseña">
        </div>
        <button type="button" class="btn btn-warning btn-lg btn-block">Iniciar sesión</button>

        <div class="d-flex mb-1">
            <div class="mr-auto p-2">
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Recuerdame</label>
                </div>
            </div>
            <div class="p-1">
                <button (click)="showResetPass()" type="button" class="btn btn-link">¿Olvidaste tu contraseña?</button>
            </div>
        </div>
        <hr>
        <div class="d-flex align-items-center flex-column">
            <div class="p-1">¿Eres nuevo en Rokstar?</div>
            <div class="p-0">
                <button (click)="showCreateAccount()" class="btn btn-link">Crea tu cuenta</button>
            </div>
        </div>
    </div>
</div>