<app-carousel></app-carousel>
<div class="container entrada">

    <div class="row">

        <div class="py-3 bg-light">
            <div class="container">

                <h1>Lo más vendido</h1>

                <app-product [productos]="productos"></app-product>
            </div>
        </div>
    </div>
</div>



<!-- <p>
    home works!
</p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni perferendis iste dolorem, sunt, consectetur dolores dignissimos reiciendis illum aut iusto voluptas, laudantium corporis impedit. Dolorum vitae odio error nam incidunt.
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni perferendis iste dolorem, sunt, consectetur dolores dignissimos reiciendis illum aut iusto voluptas, laudantium corporis impedit. Dolorum vitae odio error nam incidunt.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni perferendis iste dolorem, sunt, consectetur dolores dignissimos reiciendis illum aut iusto voluptas, laudantium corporis impedit. Dolorum vitae odio error nam incidunt.
</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni perferendis iste dolorem, sunt, consectetur dolores dignissimos reiciendis illum aut iusto voluptas, laudantium corporis impedit. Dolorum vitae odio error nam incidunt.
</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni perferendis iste dolorem, sunt, consectetur dolores dignissimos reiciendis illum aut iusto voluptas, laudantium corporis impedit. Dolorum vitae odio error nam incidunt.
</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni perferendis iste dolorem, sunt, consectetur dolores dignissimos reiciendis illum aut iusto voluptas, laudantium corporis impedit. Dolorum vitae odio error nam incidunt.
</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni perferendis iste dolorem, sunt, consectetur dolores dignissimos reiciendis illum aut iusto voluptas, laudantium corporis impedit. Dolorum vitae odio error nam incidunt.
</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni perferendis iste dolorem, sunt, consectetur dolores dignissimos reiciendis illum aut iusto voluptas, laudantium corporis impedit. Dolorum vitae odio error nam incidunt.
</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni perferendis iste dolorem, sunt, consectetur dolores dignissimos reiciendis illum aut iusto voluptas, laudantium corporis impedit. Dolorum vitae odio error nam incidunt.
</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni perferendis iste dolorem, sunt, consectetur dolores dignissimos reiciendis illum aut iusto voluptas, laudantium corporis impedit. Dolorum vitae odio error nam incidunt.
</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni perferendis iste dolorem, sunt, consectetur dolores dignissimos reiciendis illum aut iusto voluptas, laudantium corporis impedit. Dolorum vitae odio error nam incidunt.
</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni perferendis iste dolorem, sunt, consectetur dolores dignissimos reiciendis illum aut iusto voluptas, laudantium corporis impedit. Dolorum vitae odio error nam incidunt.
</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni perferendis iste dolorem, sunt, consectetur dolores dignissimos reiciendis illum aut iusto voluptas, laudantium corporis impedit. Dolorum vitae odio error nam incidunt.
</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni perferendis iste dolorem, sunt, consectetur dolores dignissimos reiciendis illum aut iusto voluptas, laudantium corporis impedit. Dolorum vitae odio error nam incidunt.
</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni perferendis iste dolorem, sunt, consectetur dolores dignissimos reiciendis illum aut iusto voluptas, laudantium corporis impedit. Dolorum vitae odio error nam incidunt.
</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni perferendis iste dolorem, sunt, consectetur dolores dignissimos reiciendis illum aut iusto voluptas, laudantium corporis impedit. Dolorum vitae odio error nam incidunt.
</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni perferendis iste dolorem, sunt, consectetur dolores dignissimos reiciendis illum aut iusto voluptas, laudantium corporis impedit. Dolorum vitae odio error nam incidunt.
</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni perferendis iste dolorem, sunt, consectetur dolores dignissimos reiciendis illum aut iusto voluptas, laudantium corporis impedit. Dolorum vitae odio error nam incidunt.
</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni perferendis iste dolorem, sunt, consectetur dolores dignissimos reiciendis illum aut iusto voluptas, laudantium corporis impedit. Dolorum vitae odio error nam incidunt.
</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni perferendis iste dolorem, sunt, consectetur dolores dignissimos reiciendis illum aut iusto voluptas, laudantium corporis impedit. Dolorum vitae odio error nam incidunt.
</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni perferendis iste dolorem, sunt, consectetur dolores dignissimos reiciendis illum aut iusto voluptas, laudantium corporis impedit. Dolorum vitae odio error nam incidunt.
</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni perferendis iste dolorem, sunt, consectetur dolores dignissimos reiciendis illum aut iusto voluptas, laudantium corporis impedit. Dolorum vitae odio error nam incidunt.
</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni perferendis iste dolorem, sunt, consectetur dolores dignissimos reiciendis illum aut iusto voluptas, laudantium corporis impedit. Dolorum vitae odio error nam incidunt.
</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni perferendis iste dolorem, sunt, consectetur dolores dignissimos reiciendis illum aut iusto voluptas, laudantium corporis impedit. Dolorum vitae odio error nam incidunt.
</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni perferendis iste dolorem, sunt, consectetur dolores dignissimos reiciendis illum aut iusto voluptas, laudantium corporis impedit. Dolorum vitae odio error nam incidunt.
</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni perferendis iste dolorem, sunt, consectetur dolores dignissimos reiciendis illum aut iusto voluptas, laudantium corporis impedit. Dolorum vitae odio error nam incidunt.
</p> -->